    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Montserrat", sans-serif
    }


    .w3-row-padding img {
      margin-bottom: 12px
    }

    /* Set the width of the sidebar to 120px */
    .w3-sidebar {
      width: 120px;
      background: #222;
    }

    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    #main {
      margin-left: 120px
    }

    /* Remove margins from "page content" on small screens */
    @media only screen and (max-width: 600px) {
      #main {
        margin-left: 0
      }
    }

    /* Projects*/
    .project {
      margin: 0 -16px;
      display: inline-block;
    }

    .project-title {
      text-align: center;
    }

    .project-screenshot {
      width: 100%;
      height: 200px;
      /* overflow: hidden; */
      background-image: url("../assets/imgs/projects/pokemon-quiz/smilining-pikachu.jpg");
      background-size: cover;
    }

    .demo-btn {
      display: inline-block;
    }