body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

div p {
  font-size: 1.5rem;
}

.w3-row-padding img {
  margin-bottom: 12px;
}

header h1 {
  margin-top: 28%;
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
  width: 120px;
  background: #222;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
.main {
  margin-left: 120px;
  background-color: #011932;
  color: white;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  .main {
    margin-left: 0;
  }
}

/* Projects*/
.project {
  margin: 0 -16px;
  display: flex;
  flex-direction: row;
  /* width: 100%; */
}

.project-title {
  text-align: center;
}

.project-screenshot {
  width: 100%;
  height: 200px;
  /* overflow: hidden; */
  background-image: url("../assets/imgs/projects/pokemon-quiz/smilining-pikachu.jpg");
  background-size: cover;
}

.demo-btn {
  display: inline-block;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
}

.waviy span {
  /* font-family: 'Corben', cursive; */
  position: relative;
  display: inline-block;
  color: whitesmoke;
  /* text-transform: uppercase; */
  animation: waviy 2s;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-20px);
  }
}

.container {
  height: 100vh;
}

.home {
  display: flex;
  /* flex-direction: row;  */
  justify-content: center;
  text-align: center;
  background: url("../assets/imgs/cristiano-firmani-tmTidmpILWw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

header {
  height: 100%;
}

.sidebar {
  background-color: lightsteelblue;
}

input {
  width: 75%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
}
a:active {
  background-color: black;
  color: white;
}

.contact {
  margin-bottom: 90px;
}

textarea {
  width: 75%;
}

footer {
  margin-top: 150px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.message {
  padding: 16px 8px;
}
