* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* color: white; */
  /* background-image: url("../assets/imgs/cristiano-firmani-tmTidmpILWw-unsplash.jpg"); */
  /* background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  line-height: 1.5em;
  letter-spacing: 0em; */
  /* overflow: hidden; */
}

.overlay {
  /* background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%; */
  /* z-index: 1; */
}

section {
  /* padding-top: 10%;
  height: 90vh; */
  /* padding: 25% 20%; */
  /* background-color: rgba(246, 227, 17, 0.5); */
}

.headline h1 {
  /* text-align: center;
  font-size: 3rem; */
}

.inner {
  /* background-color: rgba(246, 227, 17, 0.5); */
  /* border-radius: 20%;
  padding: 2rem; */
}

.inner h2 {
  /* text-align: center; */
}

/* Header */

/* header h1 {
  margin: 0;
  display: inline-block;
} */



/* Navigation */

a {
  /* color: white; */
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
}

.navlinks a {
  color: #fff;
}

.topnav {
  /* position: fixed;
  width: 100%;
  height: 10vh; */
}

.topnav,
footer {
  /* background-color: #333;
  overflow: hidden; */
}

.topnav ul {
  /* list-style-type: none; */
}

.topnav li {
  /* float: right;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  padding-right: 10px;
  padding-bottom: 10px; */
}



/* #navbar {
  padding: 0;
  margin: 0;
} */

/* Projects Section */
.project-tile {
  /* border: 1px solid black; */
}

.thumbnail {
  /* width: 100%; */
}

.right-arrow,
.left-arrow {
  /* display: inline;
  position: relative;
  z-index: 1;
  background-color: rgba(250, 100, 0, .5);
  top: 100px; */
}

/* Find out where the relation of the arrows are located for example where is the offset coming from? I want the arrows to sit 50% inside the thumbnail */

/* header ul {
  background-color: green;
  float: right;
  list-style-type: none;
  margin: 0;
}

li {
  display: inline;
  padding-right: 5px;
} */

/* Media Queries */
@media (max-width: 576px) {
  li a {
    display: block;
    width: 60px;
  }
}